.App {
  font-family: Roboto;
  padding: 4px;
  .header {
    text-align: center;
    .title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .searchContainer {
      background: #eee;
      padding: 15px 0px;
      margin-bottom: 10px;
    }
  }
}
